<div id="profile" class="data">
        <form id="profile-data" enctype="multipart/form-data">
                <label for="firstname">First Name</label>
                <input id="firstname" type="text" name="firstname">
                <br>
                <label for="lastname">First Name</label>
                <input id="lastname" type="text" name="lastname">
                <br>
                <hr>
                <label for="old_pass">Old password</label>
                <input id="old_pass" type="password" name="old_pass">
                <br>
                <label for="new_pass">New password</label>
                <input id="new_pass" type="password" name="new_pass">
                <br>
                <label for="confirm_new_pass">Confirm password</label>
                <input id="confirm_new_pass" type="password" name="confirm_new_pass">
                <br>
                <hr>
                <input type="button" class="close-button" value="Cancel">
                <input type="button" class="submit edit-profile" value="Aplly">
        </form>
</div>
<div id="new-msg" class="data">
        <form id="new-msg-data">
                <label>Enter your comment:</label>
                <textarea></textarea>
                <input type="button" class="close-button" value="Cancel">
                <input type="button" class="submit send-msg" value="Send">
        </form>
</div>
<div id="msg" class="data">
</div>